.container{
    max-width: 1500px;
    margin: 0 auto;
}
.container > h1{
    padding: 20px;
}
.cart{
    display: flex;
}
.products{
    flex: 0.75;
}
.product{
    display: flex;
    border: 2px solid red;
    width: 100%;
    margin-bottom: 20px;
}
.product > img{
    width: 300px;
    height: 250px;
    object-fit: cover;
}
.product > img:hover{
    transform: scale(1.04 );
}
.product-info{
    padding: 20px;
    width: 100%;
}
.product-name, .product-price, .product-offer{
    margin-bottom: 20px;
}
.product-remove{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: yellowgreen;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.product-remove:hover{
    background-color: white;
    color: green;
    font-weight: 600;
    border: 1px solid green;
}
.product-quantity > input{
    width: 40px;
    padding: 5px;
    text-align: center;
}
.cart-total{
    flex: 0.25;
    margin-left: 20px;
    padding: 20px;
    height: 240px;
    border: 1px solid silver;
    border-radius: 5px;
}
.cart-total p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}
.cart-total a{
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: tomato;
    color: white;
    text-decoration: none;
}
.cart-total a:hover{
    background-color: red;
}
@media screen and (max-width: 850px) {
    .cart{
        flex-direction: column;
    }
}
.cart-total{
    margin-left: 0;
    margin-bottom: 20px;
}
@media screen and ( max-width: 500px) {
    .cart{
        flex-direction: column;
    }
    
}
@media screen and (max-width: 1220px){
    .container{
max-width: 95%;
    } 
}